<!-- Sections -->
        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="assets/images/feature-2.jpg" alt="" />
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>OUR PRODUCT</h2>
                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                <ul>
                                    <li>Quisque volutpat mattis eros.</li>
                                    <li>Nullam malesuada erat ut turpis.</li>
                                    <li>Suspendisse urna nibh.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->
        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">



                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>PRODUCT DESCRIPTIONS</h2>
                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                <ul>
                                    <li>Quisque volutpat mattis eros.</li>
                                    <li>Nullam malesuada erat ut turpis.</li>
                                    <li>Suspendisse urna nibh.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="assets/images/feature-1.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->
        
